body{
    background-color: rgb(90, 90, 90);
    background-image: url(https://i.pinimg.com/originals/ce/6a/88/ce6a8893b318e986e2e328b19e2e9aa2.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: 80px auto 50px 50px;
    background-color: rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), 0.4);
}
.logo{
    
}
.titulo{
    color: white;
      text-align: left;
}
.X{
    padding: 15px 0px;
 
}
.Facebook{
    padding: 15px 0px;
}
.indice{
    border-radius: 5%;
    padding: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 500px auto 500px;
    grid-template-rows:  repeat(4, 100px) ;
}
.pulpo{
    text-align: center;
    background-color: black;
}
.pulpont-1{
    border: black;
    color: white;
    grid-row-start: 1;
    grid-row-end: 5;
}
.pulpont-2{
    background-color: rgb(155, 155, 155);
    color: white;
    grid-row-start: 2;
    grid-row-end: 5;
}
.pulpont-3{
    background-color: black;
    color: white;
    grid-row-start: -1;
    grid-row-end: 1;

}
.pulpont-4{
    background-color: blue;
    grid-column-start: 2;
    grid-row-end: 2;
}


.container {

    display: grid;
    /*grid-template-columns: repeat(5, 1fr);*/
    /*grid-template-columns: 30px auto auto auto;*/
    grid-template-columns: 10% 25% 25% 20% 20%;
}
.element {
    color: white;
    text-align: center;
    font-size: 35px;
}
.element-1 {
    background-color: black;
}
.element-3 {
    background-color: black; 
}
.element-5 {
    background-color: black;
}
.element-7 {
    background-color: black;
}
.element-9 {
    background-color: black;
}
.titulo-1 {
    font-size: 20px;
    margin: 25px;
}
.container-2 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.grupo {
    color: white;
    text-align: center;
    font-size: 40px;
}
.sect {
    background-color: grey;
}
.port {
    background-color: grey;
}
.recurs {
    background-color: grey;
}
.coord {
    background-color: grey;
}


.container-3 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.icon {
    text-align: center;
    
}
.imagen {
    background-color: #cccccc;
}

table {
    margin: 0% auto;
    width: 50%;
    border-collapse: collapse;
}

th, td {
    border: 3px solid black;
    padding: 30px;
    text-align: center;
    font-size: 25px;
}

th {background-color: white;}

.container-4 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.catalog {
    color: white;
    text-align: center;
    font-size: 30px;
}

.game-1 {
    background-color: #9b9b9b;
}
.game-2 {
    background-color: #9b9b9b;
}
.game-3 {
    background-color: #9b9b9b;
}
.game-4 {
    background-color: #9b9b9b;
}

.fondo {
    background-color: black;
}
